#user-shapes-flex-block {
    margin-left: 15px;
    width: 2000px;
    height: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    /* display: inline-block;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap; */
    vertical-align: top;
}

.user-shape {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    vertical-align: top;
}

.user-shape svg {
    vertical-align: middle;
    cursor: move;
}