#user-shapes-flex-block {
    margin-left: 15px;
    width: 385px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.user-shape {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.user-shape svg {
    vertical-align: middle;
    cursor: move;
}