#all-shapes-ul-flex-container {
    margin: 0 20px 20px 20px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    clear: both;
    position: relative;
    top: 30px;
    height: 696px;
    overflow: hidden;
    overflow-y: scroll;
}

.draggable {
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}

.draggable svg {
    cursor: move;
}

.draggable text {
    position: absolute;
    fill: rgb(3, 3, 33);
    font-size: 14pt;
}