#all-shapes-flex-container {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    height: 702px;
    overflow: hidden;
    overflow-y: scroll;
}

.shape-flex-block {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.shape-flex-block svg {
    vertical-align: middle;
}