#conc-shapes-flex-container {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
}

.conc-shape-flex-block {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.conc-shape-flex-block svg {
    vertical-align: middle;
}

#c-shape h2 {
    margin: 20px 20px 0 20px;
    padding: 0;
    color: #1492E6;
    font-size: 18pt;
    font-weight: normal;
    letter-spacing: 0.1em;
}