.figure-item a {
    margin: 0 0 0 8px;
    padding: 0;
    color: rgb(3, 3, 33);
    font-size: 14pt;
    font-weight: normal;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.figure-item a.active-figure {
    color: #1492E6;
}

.figure-item a:hover {
    color: #1492E6;
}

.figure-item input {
    margin: 0 0 0 8px;
    padding: 3px 0 3px 5px;
    width: 50%;
    color: rgb(3, 3, 33);
    background-color: #FAFAFF;
    font-size: 12pt;
    font-weight: normal;
    letter-spacing: 0.1em;
    border: rgba(3, 3, 33, .5) .5px solid;
    border-radius: 2px;
}

.fig {
    /* margin: 0 0 0 -5px; */
    float: left;
    width: 280px;
}

.fig svg {
    margin: 0 0 2px 5px;
    vertical-align: middle;
}

.fig svg:first-child {
    margin-left: 0;
    cursor: pointer;
}

.figure-edit {
    margin: 0 10px 0 0;
    float: right;
}

.figure-edit svg {
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.figure-edit path:hover {
    fill: #1492E6;
}

#feature-li {
    margin: 0 0 0 50px;
}