.concept-item {
    position: relative;
}

#concept-edit {
    position: absolute;
    right: 5px;
    top: 0;
}

#concept-edit a svg {
    margin: 0 0 3px 5px;
    vertical-align: middle;
    cursor: pointer;
    float: none;
}

#concept-edit svg:hover path {
    fill: #1492E6;
}

#ren-input input {
    margin: 0 0 0 10px;
    padding: 3px 0 3px 5px;
    color: rgb(3, 3, 33);
    background-color: #FAFAFF;
    font-size: 12pt;
    font-weight: normal;
    letter-spacing: 0.1em;
    border: rgba(3, 3, 33, .5) .5px solid;
    border-radius: 2px;
    position: absolute;
    top: -1px;
}