#f-tab {
    margin: 0;
    padding: 0;
    border: rgba(3, 3, 33, .5) .5px solid;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 43%;
    top: 315px
}

#f-tab th {
    border: rgba(3, 3, 33, .5) .5px solid;
}

#f-tab td {
    border: rgba(3, 3, 33, .5) .5px solid;
    width: 100px;
    height: 100px;
}

#f-tab td svg {
    vertical-align: middle;
}

.draggable-table text {
    position: absolute;
    fill: rgb(3, 3, 33);
    font-size: 14pt;
}

.draggable-table svg {
    cursor: move;
}