#f-tab {
    margin: 0;
    padding: 0;
    border: rgba(3, 3, 33, .5) .5px solid;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 645px;
    top: 313px
}

#f-tab th {
    border: rgba(3, 3, 33, .5) .5px solid;
}

#f-tab td {
    border: rgba(3, 3, 33, .5) .5px solid;
    width: 100px;
    height: 100px;
}