.sample-shape-flex-box {
    margin: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    vertical-align: top;
}

.sample-shape-flex-box svg {
    vertical-align: middle;
}